
body{
    margin: 0;
    margin: auto;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;

}

.head{
    background-color:  rgb(255, 255, 134);
    text-align: center;
    margin-top: 10px;
}
textarea{
    width: 80%;
    min-height: 20vh;
    padding: 1rem;
    margin: 1rem;
    display: block;
}

#btn-translate{
    padding: 1rem 1.5rem;
    margin-left: 2rem;
    border-radius:0.5rem;
    border: none;
    background-color: rgb(255, 255, 134);
}
.trans-headding{
   margin: 1rem;
   font-weight: lighter;
}

#output-area{
    border: 1px black solid;
    width: 80%;
    min-height:20vh;
    padding: 1rem;
    margin: 1rem;
    display: block;
}